# Basic Python-->

In [4]:
import sys
sys.version

'3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]'

1.Assign multiple varialble names in a single line. Check various scenarios

In [6]:
a,b,c= 6
print(a)

TypeError: 'int' object is not iterable

As you see we can not assign the values for 3 different variables in a single output. We have to give different 
different output instead

In [16]:
a = 4
b = 5
c = 6
print(a)
print(b)
print(c)

4
5
6

In [17]:
a,b,c,=4,6,5
print(a)
print(b)
print(c)

4
6
5

2.To check the data type of different variables.

In [18]:
a= 10
b= 2.556
c= 'edvancer'

In [22]:
type(a)
type(b)
type(c)

str

3.To create a complex number

Following are the available datatypes of python variables Text Type: str
Numeric Types: int, float, complex
Sequence Types: list, tuple, range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool

In [24]:
compal = complex(1,2)

Arithmetic operations- Addition, subtraction, multiplication, division. They are self explanatory.

In [25]:
# Use math package for additional mathematical operations
import math

In [26]:
p= 9
print (math.sqrt(9))

3.0

4.Logial operations in python- AND, OR, NOT, XOR

In [30]:
print (1 and 1)
print (0&0)

1
0

In [28]:
print (1 or 0)
print (1 | 0)

1
1

In [32]:
a=1
print (not a)

False

In [33]:
print (1 ^ 0)  #XOR operation
print (1 ^ 1)
print (0 ^ 1)
print (0 ^ 0)

1
0
1
0

5.String in Python

In [34]:
string_variable= 'muzaffarnagar'

In [35]:
type(string_variable)

str

In [36]:
# Multiline string can be defined using docstring operator i.e. 3 single quotes- '''

song= '''kadam kadam badhaye ja khusi ke geet gaaye ja ye zindagi hai kaum ki tu kaum pe lutaye ja'''

In [37]:
len(song)

89

In [38]:
song2= '''Main fan bhagat singh da jeda nahi si gulami karda rassa chumm ke fansi da hik naal de suli chadhta'''

In [41]:
song3= song+' ' +song2

In [42]:
song3

'kadam kadam badhaye ja khusi ke geet gaaye ja ye zindagi hai kaum ki tu kaum pe lutaye ja Main fan bhagat singh da jeda nahi si gulami karda rassa chumm ke fansi da hik naal de suli chadhta'

In [43]:
#Additional operations- change case, swapcase, padding- rjust, ljust, centre, stripping spaces
#lower case conversion
print (song.lower())

kadam kadam badhaye ja khusi ke geet gaaye ja ye zindagi hai kaum ki tu kaum pe lutaye ja

In [44]:
print (song.upper())

KADAM KADAM BADHAYE JA KHUSI KE GEET GAAYE JA YE ZINDAGI HAI KAUM KI TU KAUM PE LUTAYE JA

In [45]:
#Define a new string:
name= 'Edvancer Eduventures'

In [46]:
name.swapcase()

'eDVANCER eDUVENTURES'

In [47]:
#Left hand padding of string with spaces
name.rjust(50)

'                              Edvancer Eduventures'

In [48]:
#left hand padding with character
name.rjust(50, 'z')

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzEdvancer Eduventures'

In [49]:
#Right hand padding of string with spaces
name.ljust(50)

'Edvancer Eduventures                              '

In [50]:
#Right hand padding with character
name.ljust(50, 'z')

'Edvancer Eduventureszzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [51]:
#Right and left padding
name.center(50)

'               Edvancer Eduventures               '

In [52]:
name.center(50, 'z')

'zzzzzzzzzzzzzzzEdvancer Eduventureszzzzzzzzzzzzzzz'

In [53]:
#### Now we are creating a variables which store the new padded string of our original string i.e. Edvancer Eduventures
string_left= name.ljust(50)
string_right= name.rjust(50)
string_centre= name.center(50)

In [54]:
string_left.rstrip()

'Edvancer Eduventures'

In [55]:
string_right.lstrip()

'Edvancer Eduventures'

In [57]:
string_left

'Edvancer Eduventures                              '

In [58]:
string_right

'                              Edvancer Eduventures'

In [61]:
string_right.lstrip()

'Edvancer Eduventures'

In [62]:
string_centre.strip()

'Edvancer Eduventures'

In [63]:
#Replace 'Eduventures' with 'Classes'
name.replace('Eduventures', 'Classes')

'Edvancer Classes'

In [64]:
name_double= 'Edvancer Eduventures Edvancer Eduventures'

In [65]:
name_double.replace('Eduventures', 'Classes',1)  # 1 denotes that only first appearance is needed to be changed

'Edvancer Classes Edvancer Eduventures'

In [66]:
#Split operation: 
name_double.split(' ') #Here splitting will happen at the place of space

['Edvancer', 'Eduventures', 'Edvancer', 'Eduventures']

In [68]:
#Additional operation- Check string- returns boolean, index, find- retuns index, 
addr= 'chandbali chaat, muzaffarnagar'

In [72]:
z = 'muzaffarnagar' in addr
# Note that z will be a boolean variable storing True or False value

In [73]:
print(z)

True

6.List data type and its operations

In [83]:
sample_list= ['a','b','c','d','e','c']

In [77]:
nested_ls= [[6,1,2,'sk','tp'],[1,2,3,4]]

In [80]:
nested_ls[1][2]# here in first bracket we are giving the list no.and second bracket value denotes the item number.

3

In [85]:
print(sample_list[0:4])

['a', 'b', 'c', 'd']

In [89]:
#Let us define a new list to perform some other operations
ls= ['saket', 'mandi', 'mahavir chowk', 'bahedi', 'pisawa', 'walidpur']

In [90]:
print(ls)

['saket', 'mandi', 'mahavir chowk', 'bahedi', 'pisawa', 'walidpur']

In [91]:
ls[1:3]='dadar'
print (ls)

['saket', 'd', 'a', 'd', 'a', 'r', 'bahedi', 'pisawa', 'walidpur']

In [93]:
# Adding new element to the list- append, extend, insert, '+' operation
new_list= ['p','q','r','s']
new_list.append('t')

In [94]:
new_list

['p', 'q', 'r', 's', 't']

In [95]:
new_list.extend('u')

In [96]:
new_list

['p', 'q', 'r', 's', 't', 'u']

In [97]:
new_list.append(['a','b','c'])

In [98]:
new_list

['p', 'q', 'r', 's', 't', 'u', ['a', 'b', 'c']]

In [99]:
new_list.extend(['a','b','c'])

In [100]:
new_list

['p', 'q', 'r', 's', 't', 'u', ['a', 'b', 'c'], 'a', 'b', 'c']

In [111]:
#Remove elements from the list
#pop- Removes the last element of the list
mylist= [23, 45, 'another', 'bipin', 5, 'new', 1, 2, 3]
mylist.pop(0)
print (mylist)

[45, 'another', 'bipin', 5, 'new', 1, 2, 3]

In [112]:
mylist.remove('another')

In [113]:
mylist

[45, 'bipin', 5, 'new', 1, 2, 3]

In [114]:
mylist_new= [12,53,110,118,0]

In [116]:
mylist_new.sort()

In [117]:
mylist_new

[0, 12, 53, 110, 118]

In [118]:
mylist_new.reverse()

In [120]:
mylist_new

[118, 110, 53, 12, 0]

7.If else in python

In [7]:
a=3
b=4
if b>a :
    print("b is greater than a")
    else :
    print("a and b are unequal")

SyntaxError: invalid syntax (<ipython-input-7-24ee5b11b0f0>, line 5)