## Introduction to python

In [ ]:
#Check version of python
import sys
sys.version

#### Python variables 
Variables are containers for storing data values.
Unlike other programming languages, Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.
###### Python variables are case sensitive

In [1]:
p= 10

In [2]:
#Try printing variable 'P' instead of 'p'
print (P)

NameError: name 'P' is not defined

#### Assign multiple varialble names in a single line. Check various scenarios

In [1]:
a,b,c= 6
print (a)
print (b)
print (c)

TypeError: 'int' object is not iterable

In [ ]:
a,b,c= 4,3,2
print (a)
print (b)
print (c)

In [ ]:
a,b,c=[1,2,3]
print (a)
print (b)
print (c)

#### Variables do not need to be declared with any particular type and can even change type after they have been set. In fact python itself assigns the datatype as per the variable

In [ ]:
#Create varibles of different datatypes. Check what datatype python assigns by default. Change it and see what happens
a= 10
b= 2.556
c= 'edvancer'

In [ ]:
type(a), type (b), type(c)

In [ ]:
#Creating a complex number:
compl= complex(1,2)

Following are the available datatypes of python variables
Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

#### Variable Naming
Following are the things to take care while assigning name to a variable:
#### 1) Variable names can not have spaces in between.
#### 2) They can not contain any special character except underscore [i.e. _ ]
#### 3) Variable names can not start with a number , however you can have numbers anywhere else in the variable name
#### 4) Already existing keywords- ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Try assigining names by violating these rules
class = 4

In [ ]:
good bye = 'good bye'

#### Arithmetic operations- Addition, subtraction, multiplication, division. They are self explanatory.

##### Try and find the meaning of these operators:  **, //, %

#### For complex calculations math package is used

In [ ]:
# Use math package for additional mathematical operations
import math
p= 9
print (math.sqrt(9))
# To find out square root of a number without math package you can use: 9 **(1/2)

In [ ]:
#Another operation possible to carry out using math package is log
print (math.log10(100))

#### Logical operations in python- AND, OR, NOT, XOR

In [ ]:
#Logical operations in python
print (0 and 0)
print (0&0)

In [ ]:
print (1 or 0)
print (1 | 0)

In [ ]:
a=1

In [ ]:
print (not a)

#### Note that for boolean operation, 1 is treated as True and 0 is treated as False.

In [ ]:
print (1 ^ 0)  #XOR operation
print (1 ^ 1)
print (0 ^ 1)
print (0 ^ 0)

#### String in python

In [ ]:
#String operation- variable creation- single line and multiline string
string_variable= 'andheri'

In [ ]:
type(string_variable)

In [ ]:
# Multiline string can be defined using docstring operator i.e. 3 single quotes- '''

song= '''Dil Chahta Hai Kabhi Na Beete Chamkile Din 
Dil Chahta Hai Hum Na Rahey Kabhi Yaaro Ke Bin
Din Din Bhar Ho Pyari Battein,
Jhumein Shaamein, Gaaye Raatein Masti Mein
Rahey Duba Duba Hamesha Samaa'''

In [ ]:
print (song)

In [ ]:
#Operaions on string- length of the string, string concatenation
len(song)

In [ ]:
song2= '''Jise Dhondata Hoon Main Har Kahi
Jo Kabhi Mili Mujhe Hai Nahi
Mujhey Jiske Pyar Par Ho Yakin, Woh Ladki Hai Kahan'''

In [ ]:
# string concatenation
song3= song+song2

In [ ]:
print (song3)

In [ ]:
print (song+ ' '+song2)

In [ ]:
#Additional operations- change case, swapcase, padding- rjust, ljust, centre, stripping spaces
#lower case conversion
print (song.lower())

In [ ]:
print (song.upper())

#### Note that upper, lower, padding, splitting etc operation do not change the original string. 
#### If you want to change the original string, you need to equate it to the original string

In [ ]:
song= song.upper()
print (song)

In [ ]:
#Define a new string:
name= 'Edvancer Eduventures'

In [ ]:
name.swapcase()

In [ ]:
#Left hand padding of string with spaces
name.rjust(50)

In [ ]:
#left hand padding with character
name.rjust(50, 'z')

In [ ]:
#Right hand padding of string with spaces
name.ljust(50)

In [ ]:
#Right hand padding with character
name.ljust(50, 'z')

In [ ]:
#Right and left padding
name.center(50)

#### Now we are creating a variables which store the new padded string of our original string i.e. Edvancer Eduventures

In [3]:
string_left= name.ljust(50)
string_right= name.rjust(50)
string_centre= name.center(50)

NameError: name 'name' is not defined

In [ ]:
#remove blank characters from right side of string
string_left.rstrip()

In [ ]:
#Compare both strings
string_left

In [ ]:
string_left.rstrip()

In [ ]:
#remove blank characters from right side of string
string_right.lstrip()

In [ ]:
#Compare both strings
string_right

In [ ]:
string_right.lstrip()

In [ ]:
#To remove spaces from both sides of the string- use string_name.strip()
string_centre.strip()

#### Additional operations- replace, split

In [ ]:
print (name)

In [ ]:
#Replace 'Eduventures' with 'Classes'
name.replace('Eduventures', 'Classes')

In [ ]:
name_double= 'Edvancer Eduventures Edvancer Eduventures'

In [ ]:
name_double.replace('Eduventures', 'Classes',1)  # 1 denotes that only first appearance is needed to be changed

In [ ]:
#Split operation: 
name_double.split(' ') #Here splitting will happen at the place of space

In [4]:
#Additional operation- Check string- returns boolean, index, find- retuns index, 
addr= 'Chakra hotel, Andheri'

In [5]:
z = 'Andheri' in addr
# Note that z will be a boolean variable storing True or False value

In [6]:
print (z)

True

#### Question- what is the difference in functioning of addr.index(), addr.find()

### String slicing

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a+1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [ ]:
sample_string= 'Assignment'

#### Question: Perform all the slicing operation on the given sample_string

#### Conditions in python

* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

The conditions are self explanatory. It is advised to apply these conditions on some tricky examples to get familiarized.

In [ ]:
#Examples on conditions in python
'A'>'a'
#ASCII values of letter 'a' and 'A' are considered.

#### List data type and its operations

List is a collection which is ordered and changeable. Allows duplicate members.

In [ ]:
sample_list= ['a','b','c','d','e','c']

##### You can have a list as an element of the original list. This concept is called 'nested list'

In [ ]:
nested_ls= [[0,1,2,'sk','tp'],[1,2,3,4]]

* Remember that indexing of a list starts with 0
* For accessing an element of a nested list, you have to specify 2 indexes

#### 'sk' is the 4th subelement of the 1st element of nested_ls

In [ ]:
# Accessing elements of nested list i.e. nested_ls
nested_ls[0][3]  # 0 denotes 1st element of nested_ls, 3 denotes 4th subelemet of that

Accessing and slicing the elements of a list is similar to that of a string

In [7]:
sample_list= ['a','b','c','d','e','c']

In [8]:
#Sample accessing and slicing operation
print (sample_list[0:4])

['a', 'b', 'c', 'd']

In [ ]:
#Access element using stepsize
sample_list[0:4:2]   # Here 2 is the stepsize.

In [ ]:
#Change an element of list based on index
#Single assignment
sample_list[2]= 'z'

##### 3rd element of sample_list is changed to 'z'

In [ ]:
sample_list

In [ ]:
#Let us define a new list to perform some other operations
ls= ['andheri', 'kurla', 'bandra', 'jogeshwari', 'goregaon', 'borivali']

In [ ]:
print (ls)

In [ ]:
#multiple assignment
ls= ['andheri', 'kurla', 'bandra', 'jogeshwari', 'goregaon', 'borivali']
ls[1:3]='dadar'
print (ls)

##### Above operation has replaced the 2nd and 3rd element i.e. 'kurla' and 'bandra' by the elements of 'dadar'  i.e.  'd', 'a', 'd', 'a', 'r'

In [ ]:
ls= ['andheri', 'kurla', 'bandra', 'jogeshwari', 'goregaon', 'borivali']
ls[1:3]=['dadar']
print (ls)

##### Above operation has replaced the 2nd and 3rd element i.e. 'kurla' and 'bandra' by 'dadar'. This is because we have passed 'dadar' as a list and not as a string

In [ ]:
# Adding new element to the list- append, extend, insert, '+' operation
new_list= ['p','q','r','s']
new_list.append('t')

In [ ]:
print (new_list)

In [ ]:
new_list.extend('u')

In [ ]:
print (new_list)

#### Append and extend works the same way when you pass as a single element
#### But when you pass a new list with append and extend, their outputs are different

In [ ]:
new_list.append(['a','b','c'])

In [ ]:
print (new_list)

In [ ]:
new_list.extend(['a','b','c'])

In [ ]:
print (new_list)

In [ ]:
#Remove elements from the list
#pop- Removes the last element of the list
mylist= [23, 45, 'another', 'bipin', 5, 'new', 1, 2, 3]
mylist.pop()
print (mylist)

In [ ]:
#pop with index- You can pass the index of the element to be removed
print (mylist)
mylist.pop(3)
print (mylist)

In [ ]:
#If you do not know the index of the element, you can use myilst.remove(element_name)
print (mylist)

In [ ]:
mylist.remove('another')

In [ ]:
mylist #See that 'another' is removed

In [ ]:
mylist_new= [12,53,110,118,0]

In [ ]:
#List sorting, list reversing
mylist_new.sort()

In [ ]:
mylist_new

In [ ]:
mylist_new.reverse()

In [ ]:
print (mylist_new)

#### If-else in python
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
#Simple if condition
a = 33
b = 200
if b > a:
  print("b is greater than a")

In [ ]:
#If-else condition
a = 200
b = 33
if b == a:
  print("a and b are equal")
else :
  print("a and b are unequal")

#### For Loops
For loops are a way to bring down amount of code that you need to write to do an operation which is very repeating in nature. 
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
cities = ["delhi","Banglore","mumbai","pune", "Hyderabad", "Chennai"]

Now lets say we had to print each of the element of the list. we could do something as given below:

In [ ]:
print(cities[0])
print(cities[1])
print(cities[2])
print(cities[3])
print(cities[4])
print(cities[5])

Imagine that list now having 100s of cities , would you still be writing that code the same way? There must be a better way , and there certainly is , its called for loop. Lets see how its written:

In [ ]:
#Working of for loop
for i in [0,1,2,3,4,5]:
    print(i)

'i' here is iterator which takes value from the value list which is [0,1,2,3] here . For each value which iterator takes, statements inside the for loop are executed.

In [ ]:
#Now the same code which prints each element of the list 'cities', we can do using for loop
for i in [0,1,2,3,4,5]:
    print((cities[i]))

In [ ]:
#The same code without passing the list of [1,2,3,4,5], we can pass the length of the list in the range() function

for i in range(len(cities)):
    print((cities[i]))

#### The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
for city in cities:
  print(city)

In [ ]:
for city in cities:
  print(city) 
  if city == "Mumbai":
    break

#### The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
for city in cities:
    if city == "pune":
        continue
    print(city)

#### Range funtion

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
r= range(5)

In [ ]:
#Let us print each element of the list
for i in r:
    print (i)

In [ ]:
#Consider you want to write the remainders of each of the number when divided by 2
# Method I- Using for loop
x=range(8)

xlist=[]

for a in x:
    xlist.append(a%2)

print (xlist)

In [ ]:
#### List comprehension- List comprehensions are used for creating new lists from other iterables.

In [ ]:
# Method II- Using list comprehension 
xlist=[]
xlist=[a%2 for a in x]
print (xlist)

We can write list comprehension with conditions also. Do explore that!

### Python Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [ ]:
#Defining a function- 'def' is the keyword used for function definition
def my_function():
    print("Hello from a function")

In [ ]:
#Calling the function
my_function()

#### my_function is not returning anything. It is only printing some statement. Let us write a function which returns some value

In [ ]:
def new_function():
    return 5  #It is returning value 5

In [ ]:
a = new_function() # The returned value is stored in 'a'

In [ ]:
#Passing parameters in a function and printing it
#Function to add surname to 1st names
def add_surname(name):
    full_name= name + ' '+'Arekapudi'
    return full_name

In [ ]:
f_name= add_surname('Mounica')

In [ ]:
print (f_name)

In [ ]:
f_name2= add_surname('Pooja')

In [ ]:
print (f_name2)

In [ ]:
#Default Parameter Value
def my_function(country = "Norway"):
    print("I am from " + country)

In [ ]:
my_function("Sweden")

In [ ]:
my_function("India")

In [ ]:
my_function() 
# We have not passed any value, but still we are getting some output, because it uses the default value of country parameter

#### Positional and keyword argument in function

In [ ]:
def foo(a, b, c= 5):  # <- a, b, c are "parameters" or "formal arguments"
    print (a)
    print (b)
    print (c)

In [ ]:
foo(1, 2, 3)  # <- 1, 2, and 3 are arguments to foo, that match a, b and c

In [ ]:
foo(1,2)         # two positional argument. c is taken as 5

In [ ]:
foo(a=1, b=2, c=10)  # These are keyword arguments. We have passed the value with the names as well

In [ ]:
foo(b=1, a=2, c=0)
# Keyword arguments can be passed with changed order, but if you pass the parameters without specifying their names, thier order is important

### Some more info about the collection data types i.e. tuples, sets and dictionary
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members. In Python, tuples are written with round brackets.
* Set is a collection which is unordered. No duplicate members allowed.
* Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [5]:
sampletuple=  ("apple", "banana", "cherry", "mango", "chiku", "guava")
print(sampletuple)

('apple', 'banana', 'cherry', 'mango', 'chiku', 'guava')

#### Element selection in tuple works similar to list. 
#### Question-- select last 4 elements in the tuple

### Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [12]:
sampletuple[2:]

('cherry', 'mango', 'chiku', 'guava')

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

#### Question- Try adding a new element like we did with list- Use .append, .extend, '+' operator

In [15]:
y = list(sampletuple)

# Question- Change the 1st element to 'orange' and convert it back to the same tuple

In [16]:
list(sampletuple)

['apple', 'banana', 'cherry', 'mango', 'chiku', 'guava']

### Why tuples are preferred over list sometimes?
### - When you want an object to hold the same value throughout the execution of the program, tuples are good

In [17]:
y[0]=("orange")

### Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
Sets do not allow duplication of values

In [34]:
sampletuple = (y)

#### Sets are significantly faster when it comes to determining if an object is present in the set (as in x in s)

In [35]:
sampletuple

['orange', 'banana', 'cherry', 'mango', 'chiku', 'guava']

In [36]:
type(sampletuple)

list

In [57]:
def convertlist():
    return tuple(list)

In [58]:
print (convert(sampletuple))

NameError: name 'convert' is not defined

In [70]:
thisset = {"apple", "banana", "cherry"}

In [71]:
print(thisset)

{'apple', 'cherry', 'banana'}

#### Question- Create a set with duplicate element and print it to check if it accepts the duoplicate values

You can use functions `add` and `remove` to add and remove elements to and from sets.

In [72]:
thisset.add("Guava")
print (thisset)

{'Guava', 'apple', 'cherry', 'banana'}

In [88]:
ls={"mayank", "sharma", "sharma"}

In [89]:
ls = set(ls)

In [90]:
print (ls)

{'sharma', 'mayank'}

In [73]:
thisset.add("banana")
print (thisset)

{'Guava', 'apple', 'cherry', 'banana'}

In [62]:
thisset.remove('cherry')
print(thisset)

{'Guava', 'apple', 'banana'}

pop method is not used for sets, unlike lists. Because sets are unordered. Hence you do not exactly know which item will be removed

In [91]:
thisset = {"mango","apple", "guava", "banana", "cherry"}

In [94]:
thisset.pop()
#Question-- this cell multiple times to check if the elements are removed in what order

'cherry'

In [95]:
print(thisset)

{'guava', 'apple', 'banana'}

In [96]:
#Another eveidence that sets are unirdered is the following:
animals = {'cat', 'dog', 'fish','here','there'}
for animal in animals:
    print(animal)

fish
dog
there
here
cat

Additional operations with sets: union, intersection, issubset, issuperset, differnce, symmetric_differnce

In [97]:
type(animals)

set

In [98]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [99]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
a.intersection(b)

{4, 5, 6}

In [103]:
a.issubset(b)

False

In [104]:
a.issubset(c)

True

In [105]:
c.issuperset(b)

True

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [106]:
print(a)
print(b)
a.difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3}

In [107]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

### Dictionary

dictionaries is data structure where you can store the data with keys. There is no order to the elements, so you can access them with their position. Infact there is no concept of position as such with dictionaries. Lets see how to create a dictionary:

In [109]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

Here "a":"b" is called a key:value pair , where a is key and b is value. Both of them can be any data type. [ however, lists can not be used as keys]. To access the values you need to pass key in square brackets. Below is an example using the dictionary that we created above.

In [117]:
d["animal"]

'dog'

In [123]:
d["nasir"] = "25"

In [125]:
d["nasir"]

'25'

In [124]:
print(d)

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'nasir': '25'}

If the key doesnt exist, then it throws error.

In [111]:
d['fish']

KeyError: 'fish'

In [126]:
# add new key value pair
d['module']="intro"
print(d)

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'nasir': '25', 'module': 'intro'}

In [127]:
# removing a key value pair
del d['actor']
print(d)

{'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'nasir': '25', 'module': 'intro'}

In [135]:
# element access in loop
for elem in d:
    print('value for key is', (elem) ,":", d[elem])

value for key is animal : dog
value for key is earth : 1
value for key is list : [1, 2, 3]
value for key is nasir : 25
value for key is module : intro

You can see that when you write dictionary's name in the for loop like list , value which is passed to iterator is keys of the dictionary, one by one.

if you want to access both key and values , you can make use of *dict*.items(). Here is how:

In [136]:
d.items()

dict_items([('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3]), ('nasir', '25'), ('module', 'intro')])

In [137]:
# For accessing only the keys of the dictionary:
d.keys()

dict_keys(['animal', 'earth', 'list', 'nasir', 'module'])

In [138]:
# For accessing only the values of the dictionary:
d.values()

dict_values(['dog', 1, [1, 2, 3], '25', 'intro'])